<div class="valami"></div>
<mat-toolbar class="justify-between max-w-7xl mx-auto border-x flex flex-wrap items-center">
  <a routerLink="home" class="mr-4">Műszaki Store</a>
  <div class="flex items-center">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="mr-4">
      <mat-icon [matBadge]="itemsQuantity" [matBadgeHidden]="!itemsQuantity"
        matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
    <button mat-icon-button routerLink="login" class="mr-4" *ngIf="!isLoggedIn">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button *ngIf="isLoggedIn">
      <mat-icon>shop</mat-icon>
    </button>
    <button mat-icon-button *ngIf="isLoggedIn" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
    
  </div>


  <mat-menu #menu="matMenu">
    <div class="p-3 divide-y divide-solid">
      <div class="pb-3 flex justify-between">
        <span class="mr-16">{{ cart.items.length }} termék</span>
        <a routerLink="cart" style="background: #b3acac;border-radius: 0.5rem;" (click)="onViewCart()">
          Kosár megtekintése
        </a>
      </div>
      <div *ngIf="cart.items.length" class="py-3">
        <div *ngFor="let item of cart.items" class="flex justify-between font-light mb-2">
          {{ item.name }} x {{ item.quantity }}
          <span class="font-bold not-italic">{{ item.price | currency:'HUF' }}</span>
        </div>
      </div>
      <div class="flex justify-between py-3 font-light">
        Összesen:
        <span class="font-bold not-italic">{{
          getTotal(cart.items) | currency:'HUF'
          }}</span>
      </div>
      <div class="pt-3 flex justify-between">
        <button (click)="onClearCart()" class="bg-rose-600 text-white rounded-full w-9 h-9">
          <mat-icon>remove_shopping_cart</mat-icon>
        </button>
        <button routerLink="cart" class="bg-green-600 text-white rounded-full w-9 h-9" (click)="onViewCart()"> 
          <mat-icon>shopping_cart_checkout</mat-icon>
        </button>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>