<body ng-cloak ng-app="contactForm">
    <div class="wrap" ng-controller="ContactFormCtrl">
        <h1>Regisztáricó <mat-icon matPrefix style="padding-top: 5px;">person</mat-icon></h1>

        <form name="form" novalidate ng-submit="submitMessage">
            <div class="form-group">
                <label><mat-icon matPrefix style="padding-top: 5px;">person_outline</mat-icon> Felhasználónév</label>
                <input name="userName" type="text" required ng-model="form.name" ng-minlength="minlengthName">   
            </div>
            <div class="error-block" ng-show="form.userName.$touched">
                <div ng-show="form.userName.$error.minlength">Minimum 3 karakter hosszú legyen</div>
            </div>

            <div class="form-group">
                <label><mat-icon matPrefix style="padding-top: 5px;">email</mat-icon> Email cím</label>
                <input name="userEmail" type="email" required ng-model="form.email">  
            </div>
            <div class="error-block" ng-show="form.userEmail.$touched">
                <div ng-show="form.userEmail.$error.email">Érvényes e-mail címet adj meg!</div>
            </div>

            <div class="form-group">
                <label><mat-icon matPrefix style="padding-top: 2.5px;">lock_outline</mat-icon>Jelszó</label>
                <input name="userPassword" type="password" required ng-model="form.password"
                    ng-minlength="minlengthPass" ng-pattern="check">
            </div>
            <div class="error-block" ng-show="form.userPassword.$touched">
                <div ng-show="form.userPassword.$error.minlength">A jelszó minimum 6 karakter hosszú legyen</div>
            </div>

            <div class="form-group">
                <label><mat-icon matPrefix style="padding-top: 2.5px;">lock_outline</mat-icon> Jelszó
                    megerősítés</label>
                <input name="userPasswordAgain" type="password" required ng-model="form.password"
                    ng-minlength="minlengthPass" ng-pattern="check">
            </div>
            <div class="error-block" ng-show="form.userPassword.$touched">
                <div ng-show="form.userPassword.$error.minlength">Egyezzenek a jelszavak</div>
            </div>

            <button ng-disabled="form.$invalid" type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Regisztráció</button>
        </form>

        <div style="margin-top: 1rem;"></div>
    </div>
</body>