<body ng-cloak ng-app="contactForm">
    <div class="wrap" ng-controller="ContactFormCtrl">
        <h1>Regisztáricó <mat-icon matPrefix style="padding-top: 5px;">person</mat-icon></h1>
        <!-- Adatbevitel angular form segítségével -->
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" name="form">
            <div class="form-group">
                <label><mat-icon matPrefix style="padding-top: 5px;">email</mat-icon> Email cím</label>
                <input name="email" type="email" required formControlName="email" placeholder="Minta@email.com" class="mb-4">
            </div>
            <div class="error-block" *ngIf="submitted && !registerForm.controls['email'].valid">
                <div *ngIf="registerForm.controls['email'].hasError('email')">Érvényes e-mail címet adj meg!</div>
            </div>
            <div class="form-group">
                <label><mat-icon matPrefix style="padding-top: 2.5px;">lock_outline</mat-icon>Jelszó</label>
                <div class="relative mb-4 rounded-md">
                    <input type="{{ showPassword ? 'text' : 'password' }}" id="password"
                        class="border border-gray-300 p-2 w-full rounded-md pr-10" formControlName="password" required>
                    <button type="button" class="absolute top-0 right-0 h-full px-2 focus:outline-none"
                        (click)="showPassword = !showPassword">
                        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label><mat-icon matPrefix style="padding-top: 2.5px;">lock_outline</mat-icon> Jelszó
                    megerősítés</label>
                <div class="relative mb-4 rounded-md">
                    <input name="rePassword" type="{{ showPassword ? 'text' : 'password' }}" id="password"
                        class="border border-gray-300 p-2 w-full rounded-md pr-10" formControlName="rePassword"
                        required>
                    <button type="button" class="absolute top-0 right-0 h-full px-2 focus:outline-none"
                        (click)="showPassword = !showPassword">
                        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </div>
            </div>
            <div class="error-block" *ngIf="submitted && registerForm.hasError('passwordsDontMatch')">
                <div *ngIf="registerForm.errors?.['passwordsDontMatch'] === true">A jelszavak nem egyeznek meg</div>
            </div>
            <!-- <div class="error-block" *ngIf="submitted && (password?.invalid || confirmPassword?.invalid)">
                <div *ngIf="password?.errors?.['minlength']">A jelszó minimum 6 karakter hosszú legyen</div>
                <div *ngIf="password?.errors?.['pattern']">A jelszónak tartalmaznia kell legalább egy számot, egy
                    nagybetűt és egy kisbetűt
                </div>
            </div> -->
            <div style="margin-top: 1rem;"></div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Regisztráció
            </button>
        </form>
        <div style="margin-top: 1rem;"></div>
        <div class="flex justify-center mt-4">
            <div class="mat-menu-item">
                <a routerLink="/login" class="text-blue-500 hover:underline">Van már fiókod? Jelenetkezz be!</a>
            </div>
        </div>
    </div>
</body>