<mat-card *ngIf="cart.items.length" class="mx-auto my-1 max-w-2xl" style="text-align: center;justify-content: center;margin: 0 auto;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 w-1" style="text-align: center;justify-content: center;margin: 0 auto;">
    <ng-container matColumnDef="product" style="text-align: center;justify-content: center;margin: 0 auto;">
      <th mat-header-cell *matHeaderCellDef>Termék: </th>
      <td mat-cell *matCellDef="let element">
        <img src="{{ element.product }}" alt="product" class="w-[100px] my-1" />
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button mat-raised-button routerLink="/home">Vásárlás folytatása</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <!-- <p class="truncate max-w-xs">{{ element.name }}</p> -->
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Ár: </th>
      <td mat-cell *matCellDef="let element">{{ element.price | currency }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Mennyiség: </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="onRemoveQuantity(element)">
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{ element.quantity }}</span>
        <button mat-icon-button (click)="onAddQuantity(element)">
          <mat-icon>add</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Összesen: </th>
      <td mat-cell *matCellDef="let element">
        {{ element.quantity * element.price | currency }}
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <span class="font-bold py-1 block">{{
          getTotal(cart.items) | currency
          }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element">
        <!-- <button (click)="onRemoveFromCart(element)" mat-mini-fab color="warn" class="float-right">
          <mat-icon>close</mat-icon>
        </button> -->
      </td>
      <td mat-footer-cell *matFooterCellDef>

      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

  </table>
  <div style="text-align: center;margin-top: 1rem;">
    <button (click)="onCheckout()" *ngIf="isLoggedIn"
      class="px-4 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-600 justify-content" >
      Fizetés
    </button>
    <button (click)="onCheckout()" *ngIf="!isLoggedIn"
      class="px-4 py-2 text-white bg-red-500 rounded-md cursor-not-allowed opacity-50" disabled>
      Jelentkezzen be!
    </button>
    <span style="margin: 0 8px;"></span>
    <button (click)="onClearCart()" mat-raised-button color="warn"
      class="mr-2 px-4 py-2 text-white rounded-md hover:bg-red-400">
      Törlés
    </button>
  </div>
</mat-card>
<div class="mx-auto my-3 max-w-7xl">
  <mat-card *ngIf="!cart.items.length" class="text-center p-8">
    <mat-icon class="h-48 w-48 mx-auto mb-4" color="primary">remove_shopping_cart</mat-icon>
    <p class="text-lg mb-4">Üres a kosarad!</p>
    <button mat-raised-button color="primary" class="hover:bg-blue-500" routerLink="/home">Szétnézek!</button>
  </mat-card>
</div>