<body>
    <div class="valami text-center" *ngIf="email">
        Üdvözlünk: <strong>{{ email.split('@')[0] }}</strong> !
    </div>
    <div *ngIf="orders.length === 0" class="text-lg font-bold text-red-500 mt-4">
        Még nincs rendelés.
        <div class="mx-auto my-3 max-w-7xl">
            <mat-card class="text-center p-8">
                <mat-icon class="h-48 w-48 mx-auto mb-4" color="primary">event_busy</mat-icon>
                <p class="text-lg mb-4"></p>
                <button mat-raised-button color="primary" class="hover:bg-blue-500"
                    routerLink="/home">Szétnézek!</button>
            </mat-card>
        </div>
    </div>
    <div style="margin-top: 2rem;"></div>
    <table *ngIf="orders.length > 0" mat-table [dataSource]="orders" class="mat-elevation-z8">

        <!-- Product name column -->
        <ng-container matColumnDef="productName">
            <th class="border px-4 py-2" mat-header-cell *matHeaderCellDef style="text-align: center;">Megnevezés</th>
            <td class="border px-4 py-2 flex items-center" mat-cell *matCellDef="let order; let i = index">
                <span class="mr-2 px-2 py-1 border border-gray-400 rounded">{{ i+1 }}</span>
                {{ order.productName }}
            </td>
        </ng-container>

        <!-- Quantity column -->
        <ng-container matColumnDef="quantity">
            <th class="border" mat-header-cell *matHeaderCellDef style="text-align: center;">Mennyiség</th>
            <td class="border" mat-cell *matCellDef="let order">{{ order.quantity }}</td>
        </ng-container>

        <!-- Total price column -->
        <ng-container matColumnDef="totalPrice">
            <th class="border" mat-header-cell *matHeaderCellDef style="text-align: center;">Total</th>
            <td class="border" mat-cell *matCellDef="let order">{{ order.totalPrice }}</td>
        </ng-container>

        <!-- Timestamp column -->
        <ng-container matColumnDef="timestamp">
            <th class="border" mat-header-cell *matHeaderCellDef style="text-align: center;">Rendelés dátuma</th>
            <td class="border" mat-cell *matCellDef="let order">{{ dateFormatPipe.transform(order.timestamp) }}</td>
        </ng-container>

        <!-- Edit and delete column -->
        <ng-container matColumnDef="actions">
            <th class="border" mat-header-cell *matHeaderCellDef style="text-align: center;">Szerkesztés</th>
            <td class="border" mat-cell *matCellDef="let order">
                <div class="flex justify-center items-center">
                    <button class="cursor-pointer mr-2 hover:text-blue-500">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button class="cursor-pointer hover:text-red-500" (click)="deleteOrder(order)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr class="bg-gray-100" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="hover:bg-gray-200" mat-row *matRowDef="let order; columns: displayedColumns;"
            [class.bg-yellow-100]="order.id === highlightedId" (click)="highlightOrder(order.id)">
        </tr>
    </table>
</body>