.valami {
    margin-top: 3rem;
    font-size: 1.5rem;
}

body {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}

table{
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}